<!-- storefront.page.html -->
<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Scoops</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="sidebar">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start" class="avatar">
          <img src="../../assets/Vanilla_Ice_Cream_1.jpg" alt="Profile Picture" />
        </ion-avatar>
        <ion-label>
          <h2>John Doe</h2>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/profile">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Your Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/products">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        <ion-label>Our Products</ion-label>
      </ion-item>
      <ion-item routerLink="/developer-info">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Developer Information</ion-label>
      </ion-item>
      <ion-item routerLink="/about">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>About the App</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Scoops</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <div class="content-wrapper">
    <ion-grid>
      <h2>Today's Classics</h2>
      <ion-row>
        <ion-col size="6">
          <ion-router-link [routerLink]="['/product', 'vanilla']">
            <ion-card>
              <img src="../../assets/Vanilla_Ice_Cream_1.jpg" alt="Classic Vanilla Ice Cream" />
              <ion-card-content>Classic Vanilla Ice Cream</ion-card-content>
            </ion-card>
          </ion-router-link>
        </ion-col>
        <ion-col size="6">
          <ion-router-link [routerLink]="['/product', 'strawberry']">
            <ion-card>
              <img src="../../assets/Strawberry_Ice_Cream_2.jpg" alt="Classic Strawberry Ice Cream" />
              <ion-card-content>Classic Strawberry Ice Cream</ion-card-content>
            </ion-card>
          </ion-router-link>
        </ion-col>
      </ion-row>
      <h2>
        Ice Creams <a href="#">See More →</a>
      </h2>
      <ion-row>
        <ion-col size="6">
          <ion-router-link [routerLink]="['/product', 'chocolate']">
            <ion-card>
              <img src="../../assets/Chocolate_Ice_Cream_2.jpg" alt="Chocolate Ice Cream" />
              <ion-card-content>Chocolate Ice Cream</ion-card-content>
            </ion-card>
          </ion-router-link>
        </ion-col>
        <ion-col size="6">
          <ion-router-link [routerLink]="['/product', 'mango']">
            <ion-card>
              <img src="../../assets/Mango_Ice_Cream_1.jpg" alt="Mango Ice Cream" />
              <ion-card-content>Mango Ice Cream</ion-card-content>
            </ion-card>
          </ion-router-link>
        </ion-col>
        <ion-col size="6">
          <ion-router-link [routerLink]="['/product', 'cookies']">
            <ion-card>
              <img src="../../assets/Cookies_And_Cream_Ice_Cream_2.jpg" alt="Cookies n' Cream Ice Cream" />
              <ion-card-content>Cookies n' Cream Ice Cream</ion-card-content>
            </ion-card>
          </ion-router-link>
        </ion-col>
        <ion-col size="6">
          <ion-router-link [routerLink]="['/product', 'matcha']">
            <ion-card>
              <img src="../../assets/Matcha_Ice_Cream_1.jpg" alt="Matcha Ice Cream" />
              <ion-card-content>Matcha Ice Cream</ion-card-content>
            </ion-card>
          </ion-router-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<br/> <br/><br/> <br/><br/> <br/>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-row class="footer-icons">
      <ion-col>
        <ion-button fill="clear" routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" routerLink="/home">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" routerLink="/products">
          <ion-icon name="basket-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" routerLink="/profile">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<br /><br /><br />