/* Header and Footer */
ion-header,
ion-footer {
  --background: #2B1700;
  --color: #ffffff;
}

ion-title {
  font-family: 'Sweetie Summer';
  text-align: center;
  font-size: 30px;
}

/* Styling for a larger avatar */
.avatar {
  width: 80px;  /* Adjust the width */
  height: 80px; /* Adjust the height */
  border-radius: 50%; /* Make the avatar circular */
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image is cropped to fit the circular shape */
}

/* Content Styling */
ion-content {
  display: flex;
  flex-direction: column;
  height: 100%;  /* Ensure content takes full height */
  padding-bottom: 50px; /* Optional: prevent footer from overlapping content */
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2B1700;
  display: flex;
  justify-content: space-between;
}

a {
  color: #2B1700;
  text-decoration: none;
  font-size: 14px;
}

/* Card and Image Styling */
ion-card {
  text-align: center;
  background-color: white;
}

ion-card img {
  width: 100%;
  height: 200px; /* Fixed height for consistency */
  object-fit: cover; /* Ensures the image fills the container */
  overflow: hidden; /* Prevents overflow issues */
  border-radius: 8px; /* Rounded corners */
}

ion-card-content {
  font-size: 14px;
  color: #2B1700;
}

/* Footer Styling */
ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer-icons ion-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons ion-icon {
  font-size: 22px;
  color: white;
}

ion-content {
  --background: white;
}

ion-item {
    --background: white;
    color: #2B1700;
}
ion-list {
    --border-width: 0;
    --background: white;
}
ion-label {
    color: #2B1700;
}
.sidebar, ion-menu {
    --background: white;
}